/*.offwhite{color: #fce7d6;
}
.black{color: #000112;
}
.blue{color: #6568ad;
}
.white{color: #fdf4e3;
}*/
body{
	color:#000112;
	/*background-color:#fdf4e3;*/
	background:url("../img/kindajean.png");
}

a{
	color:#6568ad;
}
.highlight{
	background-color:#fce7d6;
}
ul
{
list-style-type: none;
padding: 0px;
margin: 0px;
}